@page "/"
@using FluentBlazorWasm01.Components
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<SimpleAlert Title="Alert">
    Simple alert content
</SimpleAlert>
